<div class="container  p-2 mt-5  text-center" style="width: 25%;  background-color: rgba(123, 123, 116, 0.253);">
    <form action="">
        <div class="p-3 mt-2">
            <input class="form-control" name="acnum1" id="acid" type="text" placeholder="Your user name">
        </div>
        <div class="p-3 mt-2">
            <input  class="form-control" name="paswrd1" id="psw1" type="password" placeholder="Enter Password">
        </div>
        <div class="p-3 mt-2">
            <button type="button"class="btn btn-outline-light" >Log In</button>
        </div>
    </form>
</div>